.container {
  margin: 10px;
  gap: 5px;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  grid-auto-flow: row dense;
}
.item {
  font-size: 4em;
  text-align: center;
  border: 1px solid #e5e4e9;
}
.item-1 {
  background-color: #ef342a;
}
.item-2 {
  grid-column: span 2 / 3;
  grid-column: 1 / span 2;
  background-color: #f68f26;
}
.item-3 {
  background-color: #4ba946;
}
.item-4 {
  background-color: #0376c2;
}
.item-5 {
  background-color: #c077af;
}
.item-6 {
  background-color: #f8d29d;
}
.item-7 {
  background-color: #b5a87f;
}
.item-8 {
  background-color: #d0e4a9;
}
.item-9 {
  background-color: #4dc7ec;
}
