* {
  padding: 0;
  margin: 0;
}
.box {
  border: 1px solid orange;
  height: 450px;
  width: 320px;
  box-shadow: 5px 5px 5px silver;
}
.box img {
  width: 100%;
}
.box .bottom {
  margin: 20px;
}
.box .bottom .introduce {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.box .bottom .link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box .bottom .link .triangle {
  height: 0px;
  width: 0px;
  border: 10px solid transparent;
  border-left: 10px solid red;
  display: inline-block;
}
.box .bottom .link a {
  padding: 10px;
}
.box .bottom .link .separate {
  color: #CCC;
  padding-right: 10px;
}
.box .bottom .link .price {
  color: red;
}
